In [2]:
# Salaries in Science


#### Kayla Wen, Colin Chen, Paria Sokhanran, Justin Leung

In [5]:
#Run this cell first

library(tidyverse)
library(testthat)
library(digest)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [9]:
## reads the data of the GPA of Science Majors in UBC Undergrauates
gpa_data <- read_csv(file = "https://raw.githubusercontent.com/colin-c/Salaries-in-Science/main/data/ubc-science-gpa.csv")

gpa_data

## reads the data of the average salary of graduates with a certain degree and major
major_data <- read_csv(file = "https://raw.githubusercontent.com/colin-c/Salaries-in-Science/main/data/all-ages.csv")

major_data

Rows: 480 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): Option, Spec, Space
dbl (6): Year, Intial Admit
Number, Inital Reject
Number, Final Admit
Numb...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    Year Option
1   2015 NA
2   2015 CPSC
3   2015 CPSC
⋮   ⋮    ⋮
478 2022 Combined Honours
479 2022 Combined Honours
480 2022 Combined Honours
    Spec                                                                 Space
1   NA                                                                   NA
2   NA                                                                   193
3   Major Cognitive Systems(1226): Computational Intelligence and Design NA
⋮   ⋮                                                                    ⋮
478 Combined Honours (0517): Chemical Physics (CHEM, PHYS)               NA
479 Combined Honours (0009): Physics and Astronomy (PHYS, ASTR)          NA
480 Combined Honours (0014): Physics and Mathematics (PHYS, MATH)        NA
    Intial Admit\nNumber Inital Reject \nNumber Final Admit \nNumber Max grade
1   NA                   NA                     NA                      NA
2   NA                   NA                     NA                      NA
3    9                   15                     10                   87.58
⋮   ⋮                    ⋮                      ⋮                    ⋮
478  3                   0                       3                      NA
479 11                   0                      10                   90.19
480 13                   0                      13                   96.30
    Min Grade
1      NA
2      NA
3   70.33
⋮   ⋮
478    NA
479 74.62
480 77.90

Rows: 173 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): Major, Major_category
dbl (10): index, Major_code, Total, Employed, Employed_full_time_year_round,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    index Major_code Major
1   0     1100       GENERAL AGRICULTURE
2   1     1101       AGRICULTURE PRODUCTION AND MANAGEMENT
3   2     1102       AGRICULTURAL ECONOMICS
⋮   ⋮     ⋮          ⋮
171 170   6299       MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION
172 171   6402       HISTORY
173 172   6403       UNITED STATES HISTORY
    Major_category                  Total  Employed
1   Agriculture & Natural Resources 128148 90245
2   Agriculture & Natural Resources  95326 76865
3   Agriculture & Natural Resources  33955 26321
⋮   ⋮                               ⋮      ⋮
171 Business                        102753  77471
172 Humanities & Liberal Arts       712509 478416
173 Humanities & Liberal Arts        17746  11887
    Employed_full_time_year_round Unemployed Unemployment_rate Median P25th
1   74078                         2423       0.02614711        50000  34000
2   64240                         2266       0.02863606        54000  36000
3   22810                          821       0.03024832        63000  40000
⋮   ⋮                             ⋮          ⋮                 ⋮      ⋮
171  61603                         4308      0.05267856        53000  36000
172 354163                        33725      0.06585101        50000  35000
173   8204                          943      0.07349961        50000  39000
    P75th
1   80000
2   80000
3   98000
⋮   ⋮
171 83000
172 80000
173 81000